@font-face {
  font-family: "BOG";
  src: url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Light/MarkGEO-Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "BOG";
  margin: 0px;
  /* background-color: #2e2e2e; */
}

:root {
  --blue: #091a2b;
  --orange-color: #fb8d04;
  --grey-text: rgba(255, 255, 255, 0.78);
}
body {
  background-color: var(--blue);
}

.container {
  width: 1296px;
  height: auto;
  margin: auto;
}

.header-top-bar {
  padding-top: 25px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 38px;
  width: 122px;
  background-repeat: no-repeat;
  align-items: center;
}

.navigation-top-menu {
  height: 78px;
  width: 500px;
}
.navigation-top-menu ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding: 15px;
  font-size: 14px;
  color: var(--grey-text);
  font-family: BOG;
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  line-height: 1.4em;
}
.active {
  color: var(--orange-color);
}
.bar-navigation-icons {
  height: 32px;
  width: 64px;
  display: flex;
  color: var(--grey-text);
  justify-content: space-betweens;
}
.bar-navigation-icons div {
  margin: 7px;
}
.acct-switcher {
  height: 38px;
  width: 178px;
  display: flex;
  font-weight: 500;
  color: inherit;
  text-align: left;
  line-height: 1.4em;
  letter-spacing: normal;
}
.logo-wrapper {
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}
.acct-logo {
  box-sizing: border-box;
  color: white;
  background-color: var(--orange-color);
  border-radius: 50%;
  padding: 8px;
  width: 32px;
}

.acct-switcher p {
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
  margin: 7px;
  color: var(--orange-color);
}
.switcher-arrow {
  height: 12px;
  margin: 10px;
  color: var(--grey-text);
}
.lang {
  height: 32px;
  width: 44px;
  padding-top: 5px;
}
.lang p {
  font-size: 14px;
  color: var(--grey-text);
  text-align: left;
  text-decoration: none;
  font-weight: 500;
}
.became-solo {
  width: 125px;
  height: 32px;
  background-color: var(--orange-color);
  border-radius: 2px;
  align-items: center;
  color: var(--grey-text);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* secont menu */

.header-bpttom-section {
  background-color: rgb(43, 58, 72);
  height: 58px;
  position: sticky;
}
.bottom-menu ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding: 15px;
  font-size: 14px;
  color: var(--grey-text);
  font-family: BOG;
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  line-height: 1.4em;
}
.baner-section {
  height: 510px;
  padding-top: 50px;
  position: relative;
}
.title {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 32px;
}
.baner-img {
  background-image: url("https://ramad.bog.ge/s3/solo/images/a3dd4512-dc72-45cd-b93c-b96a8b050eb2.png");
  height: 300px;
  border-radius: 10px;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(43, 25, 25, 0.3), #2b1919);
  position: absolute;
  transition: 0.5s;
}
.content {
  width: calc(100% - 80px);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
  justify-content: center;
  position: absolute;
  top: 0%;
}

.baner-text {
  font-weight: bold;
  font-size: 24px;
  color: white;
}
.baner-btn {
  width: 120px;
  height: 32px;
  background-color: var(--orange-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.baner-btn p {
  color: var(--grey-text);
}
/* catalog section */
.catalog-header {
  display: flex;
  justify-content: space-between;
}
.catalog-title p {
  color: white;
  font-size: 18px;
}
.catalog-header-filters {
  display: flex;
}
.ctl-header-search {
  height: 40px;
  background-color: #1c2b3b;
  color: white;
  border-radius: 20px;
  border: none;
  padding-left: 20px;
  font-size: 12px;
}
.header-filter {
  width: 200px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 30px;
  border-radius: 2px;
  padding: 15px;
  margin-bottom: 32px;
}
.header-filter p {
  font-size: 14px;
  color: white;
}
.catalog-body {
  display: flex;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 150px;
}
.selects {
  display: flex;
  flex-direction: column;
  width: 268px;
  margin-right: 32px;
}
.city-filter {
  display: block;
  width: 100%;
  height: 367px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 24px;
}
.filter-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: rgb(139, 139, 139);
}
.filter-section {
  margin-top: 20px;
  display: block;
  color: rgba(255, 255, 255, 0.9);
  font-size: 12px;
}
.filter-section input {
  margin-bottom: 16px;
}

.price-filter {
  margin-top: 32px;
  margin-bottom: 34px;
}
.items-wraper {
  width: calc(100% - 268px);
}
.catalog-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
}
.developer-item {
  height: 372px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 25px;
}

.developer-img {
  height: 160px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.developer-title {
  margin-top: 8px;
  font-size: 14px;
  color: white;
}
.developer-subtitle p {
  font-size: 16px;
  margin-top: 20px;
  color: white;
}
.developer-subtitle span {
  font-size: 14px;
  color: rgb(139, 139, 139);
}
.link-btn {
  font-size: 14px;
  color: var(--orange-color);
  margin-top: 30px;
}
/* footer */
.footer-items {
  height: 106px;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.footer-logo {
  height: 15px;
  width: 15px;
}
.footer-title {
  font-size: 14px;
  color: white;
}

@media screen and (max-width: 1296px) {
  .container {
    width: 90%;
  }
  .navigation-top-menu {
    display: none;
  }
  .bottom-menu {
    display: none;
  }
  .catalog-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 32px;
  }
  .developer-item {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    padding: 16px;
    justify-content: space-between;
  }
  .developer-img {
    width: 100%;
    height: 100%;
    margin: 0px;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
